[gcode_macro START_PRINT]
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(190)|float %}
    # Heat bed for probing
    M104 S150
    M190 S60
    # Use absolute coordinates
    G90
    # Home the printer
    G28

    # If you are generating a new bed mesh:
    BED_MESH_CALIBRATE ADAPTIVE=1
    ## NOTE:    The adaptive meshing feature requires exclude_object     ##
    ##      and may require 'Label Objects' to be enabled in the slicer  ##
    ##           To mesh without it just use BED_MESH_CALIBRATE          ##

    # If you are loading an existing mesh:
    #BED_MESH_PROFILE LOAD=default

    # Move the nozzle near the bed
    G1 Z5 F3000
    # Set and wait for nozzle to reach printing temperature    
    M140 S{BED_TEMP} ; set final bed temp
    M104 S{EXTRUDER_TEMP} ; set final nozzle temp
    M190 S{BED_TEMP}; wait for bed temp to stabilize
    M109 S{EXTRUDER_TEMP} ; wait for nozzle temp to stabilize
    LINE_PURGE
    # Start printing!

[gcode_macro END_PRINT]
gcode:
    G92 E0
    G1 E-2 F2000
    M140 S0 ; turn off heatbed
    M104 S0 ; turn off temperature
    M107 ; turn off fan
    G91
    G0 Z10 F1500
    G90
    G1 X10 Y10 F3000 ; move print head out of the way
    M84 X Y E ; disable motor

[gcode_macro FILAMENT_LOAD]
gcode:
   G0 X10 Y10 Z20
   M109 S220
   M83                   # Put the extruder into relative mode
   G92 E0.0              # Reset the extruder so that it thinks it is at position zero
   G1 E50 F350          # Move the extruder forward 50mm at a speed of 350mm/minute
   G92 E0.0              # Reset the extruder again
   M82                   # Put the extruder back into absolute mode.
   M190 S30
